@import '../../.cache/wal/colors-waybar.css';

* {
    border:0;
    box-shadow: none;
}
window {
    background: @background;
    border-radius: 22px;
    opacity:0.8;
}

#box {
    /* Define attributes of the box surrounding icons here */
    padding: 10px;
}

#active {
    /* This is to underline the button representing the currently active window */
}

button, image {
    background: none;
    color: @color11;
}

button {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    color: @color9;
    font-size: 12px;
    border-radius: 22px;
}

button:hover {
    background-color: @color11;
    border-radius: 22px;
}

button:focus {
}

tooltip {
    border-radius: 22px;
}

menu {
    border-radius: 22px;
    background-color: @background;
    color: @foreground;
}

menu > * {
    margin: 3px 10px;
}

menu > :hover {
    margin: 3px 10px;
    border-radius: 12px;
    background-color: @foreground;
    color: @background;
}